/*CSS to modify body of each HTML page */
body {
    background-color: coral;
    font-family: 'Noto Serif', serif;
    padding: 0; 

    color: darkslateblue;
    font-size: 20px;
}

body.about {
    background-color: beige;
    font-family: 'Noto Serif', serif;
    padding: 0;
    margin: 0;
    color: darkgreen;
    font-size: 20px;
    width: 100%;
}

body.services {
    background-color: chocolate;
    font-family: 'Noto Serif', serif;
    padding: 15px;
    margin: 5px;
    color: black;
}

body.contact {
    background-color: aquamarine;
    font-family: 'Noto Serif', serif;
    padding: 15px;
    margin: 5px;
    color: darkgreen;
    font-size: 20px;
}

body.gallery {
    background-color: blueviolet;
    font-family: 'Noto Serif', serif;
    padding: 15px;
    margin: 5px;
    color: lawngreen;
    font-size: 20px;
}
/*************************/

/*CSS to control general elements used in every page
that doesn't require specificity'*/
h1 {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    margin: 5px;
    color: darkslateblue;
}

header {
    text-align: center;
    position: static;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    color: darkslateblue;
}

img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 0.2;
}

.footNav {
    float: left;
    font-size: 15px;
}

a {
    display: block;
    padding: 8px;
}

ul {
    display: table;
    list-style-type: none;
    padding: 0;
    position: static;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.email {
    padding: 0px;
}

.galleryContent {
    text-align: center;
}
/*************************/

/* a tag attribue specifications for link behaviors */
a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: gray;
}

a:active {
    color: black;
}
/*************************/

/* This is CSS specifically for table attribute*/

.contactTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #4CAF50;
    color: white;
    height: 10px;
    text-align: left;
}

th, td {
    padding: 40px;
}

table, th, td {
    border: 1px solid black;
}
/*************************/

/*Used to separate into columns*/
.header, .footer {
    background-color: grey;   
}

/*Column adjustments per HTML file */ 
.column {
    float: left;
    padding: 45px;
}

.index {
    float: left;
    padding: 45px;
    text-align: center;
}
/*************************/

/*Clearfix per HTML file */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfixIndex::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

/*************************/
.menu {
    width: 15%;
}

.content {
    width: 70%;
}

.box {
  float: left;
  width: 33%;
  padding: 35px;
}

* {
  box-sizing: border-box;
}
/*************************/

/*Modal CSS for images*/
.galleryImage {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
}

.galleryImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.cardVideo {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 300px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 200px; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}